@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@1,75,300..700&family=Open+Sans:ital,wdth,wght@1,100,300..700&display=auto);
*{
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background: #f3ebeb;
}

:root{
    --gradient: linear-gradient(to right, #e2336b, #fcac46);
}
.sidebar{
    position: fixed;
    width: 300px;
    height: 100vh;
    /* background: #eeeded; */
    padding: 20px;
    background-color: #2F3640;
    color: white;
}
.main-home{
    position: absolute;
    width: calc(100% - 300px);
    min-height: 100vh;
    top: 0;
    left: 300px;
    /* background: #fff; */
    border-radius: 1rem 0 0 1rem;
    z-index: 1000;
}
.logo img{
    width: 140px;

}
.posts1{
    font-size: 2rem;
    font-weight: 700;
    height: 40px;
    width: 100%;
    /* background-color: rgb(236, 195, 195); */
    margin-bottom: 20px;
    /* border: 2px solid black; */
    /* border-radius: 30%; */
    /* display: flex;
    justify-content: center;
    text-align: center; */
    margin-top: 30px;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-top: 0;
    margin-left: rem;
}
.profile-img{
    display: flex;
    align-items: left;
    justify-content: left;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.profile-img img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    object-position: left;
}
.name{
    display: flex;
    align-items: left;
    margin: 1 0 .4rem;
}
.name h1{
    font-size: 1rem;
}
.name img{
    margin-left: 4px;
    width: 20px;
    object-fit: contain;
}
.profile-img span{
    font-size: 0.7rem;
    font-weight: 400;
}
.about{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.box {
    text-align: center;
}
.box h3{
    font-size: 1rem;
    font-weight: 500;
}
.box span{
    font-size: 0.938rem;
    font-weight: 400;
}
.main a{
    width: 100%;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    line-height: 40px;
    margin-top: 2px;
    }
.main a:hover, .menu .active {
        color: red;
}
.main .icon{
    margin-right: 1rem;
    font-size: 20px;
}
/* main home*/
.main-home{
    padding: 20px;
    overflow: hidden;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search{
    display: flex;
    align-items: center;
    height: 40px;
    background: #f8f8f8;
    width: 890px;
    padding: 2.4rem;
    border-radius: 10px;
}
.search input{
    border: none;
    outline: none;
    background: transparent;
    height: 40px;
    width: 890px;
    margin-left: 7px;

}
.search o {
    font-size: 20px;
}
.header-content{
    display: flex;
    align-items: center;
}
.header-content i{
    color: black;
    font-size: 20px;
    margin-left: 1rem;
}
.mode-toggle i{
    color: black;
    font-size: 20px;
    margin-left: 1rem;
    border-style: none;
}
.header-content .btn{
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background: var(--gradient);

    margin-left: 1rem;
}
.header-content .btn i{
    color: hsla(hue, saturation, lightness, alpha);
    margin-right: 10px;
}
.btn-text{
    color: white;
    text-align: right;
    
}
.stories-title{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    
}
.stories-title h1{
    font-size: 1.8rem;
    
}
.stories-title .btn i{
    font-size: 24px;
    margin-right: 10px;

}
.stories{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}

.stories-img{
    display: flex;
    align-items: left;
    justify-content: left;
    width: 80px;
    height: 80px;
    border-radius: 50% solid #e2336b;
}
.stories-img img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50% solid #e2336b;
    object-position: left;
}
.stories-img{
    display: flex;
    align-items: left;
    justify-content: left;
    width: 80px;
    height: 80px;
    border-radius: 50% solid #e2336b;
}
.stories-img img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50% solid #e2336b;
    object-position: left;
}
.stories-img{
    display: flex;
    align-items: left;
    justify-content: left;
    width: 80px;
    height: 80px;
    border-radius: 50% solid #e2336b;
}
.stories-img img{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    object-position: left;
    border: 2px solid rgb(213, 88, 54);
}
.stories-img .add{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50% ;
    background: hsla(246, 100%, 67%, 0.7);
    }
.stories-img img:hover{
    border: 3px solid rgb(213, 88, 54);
    opacity: 0.5;
    transition-property: all;
    transition-duration: 0.2s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.feed{
    display: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.feed h1{
    font: 1.7rem;
}

.feed-text {
    display: flex;
    align-items: center;

}
.feed-text h2{
    font-size: 1rem;
    margin-right: 1rem;
}
.main-posts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,auto));
    gap: 11px;

}
.post-box {
    position: relative;
    width: 300px;
    height: 400px;
    /* Other styles... */
}

.post-box img {
    /* top: 3000000px; */
    width: 100%;
    height: auto;
    /* margin-top: 20px; */
    border-radius: 0.5rem;
}

.post-info {
    position: absolute;
    bottom: 0;
    /* font-size: 2px; */
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* background-color: rgba(255, 255, 255, 0.7); Example background color */
}

.post-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 2px solid #e2336b;
    border-radius: 50%;
}
.post-img img{
    width: 27px;
    height: 27px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}
.post-profile{
    display: flex;
    align-items: center;
}
.post-profile h3{
    font-size: 12px;
    font-weight: 600px;
    margin-left: 5px;
}
.likes{
    display: flex;
    align-items: center;

}
.likes i{
    font-size: 20px;
    margin-left: 10px;
}
.like span{
    font-size: 14px;
    margin-left: 7px;
}
footer{
    margin-top: 15px;
}
.foot1{
    background-color: #e2336b;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    color: white;
}

.foot2{
    height: 300px;
    color: white;
    display: flex;
    padding-top: 30px;
    justify-content: space-evenly;
    background-color: GREY;
}
.foot2 ul a{
    display: block;
    margin-bottom: 2px;
}
.foot2 ul p{
    font-weight: 700;
    font-size: larger;
    margin-bottom: 5px;
}

.footp3{
    background-color: GREY;
    color: white;
    height: 70px;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logop3{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot4{
    background-color: #e2336b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.copyright{
    background-color: #e2336b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: 0px;
}

.likes i.active{
    background-color: pink;
}



/*  FOR THE SLIDE ANIMATION IN OPENING A RECIPE */

.dish-img{
    /* background-color: cornflowerblue; */
    /* height: 450px; */
    /* width: 450px; */
    display: flex;
    justify-content: center;
    /* border: solid 5px rgb(6, 6, 6); */
    position: absolute;
    /* border-radius: 0px; */
    /* top: 100px; */
    /* left: 400px; */

    top: 100px;
    height: 200px;
    width: 200px;
    left: 60px;
    font-size: 20px;
    border-radius: 500px;
    /* animation-name: animate2;
    animation-duration: 1.1s;
    animation-timing-function: ease-out;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: alternate;  */
}
@keyframes animate2 {
from{
    /* background-color: rgb(244, 135, 10); */
    top: 100px;
    left: 400px;
    height: 450px;
    width: 450px;
    border-radius: 0px;
}
to{
    /* background-color: rgb(115, 251, 94); */
    top: 100px;
    height: 200px;
    width: 200px;
    left: 60px;
    font-size: 20px;
    border-radius: 500px;
}
}

.container {
    max-width: 800px;
    margin: 20px auto;
    margin-top: 20px;
    margin-left: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* animation-name: contain;
    
    animation-duration: 1.8s;
    animation-timing-function: ease-out;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: alternate;  */
}
@keyframes contain {
from{
    margin-top: 500px;
    
}
to{
    margin-top: 20px
}
}

/* SLIDE ANIMATION ENDED HERE  */
.dark-mode {
    background-color: #00000074;
    color: #fff;
}

/* Your existing styles for other parts of the website */

/* Footer styles */
footer {
    background-color: #e47d9e;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .social-links {
    list-style: none;
    padding: 0;
  }
  
  .social-links li {
    display: inline;
    margin-right: 10px;
  }
  
  .social-links li a {
    color: white;
    text-decoration: none;
  }
  



  .buttonl {
    display: flex;
  }
  
  .boxl {
    margin-bottom: 20px;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    transition: all .8s;
    cursor: pointer;
    position: relative;
    background: rgb(255, 113, 189);
    overflow: hidden;
  }
  
  .boxl:before {
    content: "T";
    position: absolute;
    top: 0;
    background: #0f0f0f;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform .4s;
  }
  
  .boxl:nth-child(2)::before {
    transform: translateY(-100%);
    content: 'R';
  }
  
  .boxl:nth-child(3)::before {
    content: 'A';
  }
  
  .boxl:nth-child(4)::before {
    transform: translateY(-100%);
    content: 'I';
  }
  
  .boxl:nth-child(5)::before {
    content: 'L';
  }
  
  .buttonl:hover .boxl:before {
    transform: translateY(0);
  }



/* SEARCH CODE BELOW */


  .searchBox {
    display: flex;
    width: 900px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    background: #2f3640;
    border-radius: 50px;
    position: relative;
    margin-bottom: 23px;
  }
  
  .searchButton {
    color: white;
    position: absolute;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FF71BD;/*var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%)); */
    border: 0;
    display: inline-block;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  }
  /*hover effect*/
  button:hover {
    color: #fff;
    background-color: rgb(227, 76, 76);
    box-shadow: rgba(104, 73, 73, 0.5) 0 10px 20px;
    transform: translateY(-3px);
  }
  /*button pressing effect*/
  button:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  .searchInput {
    border: none;
    background: none;
    width: 800px;
    outline: none;
    color: white;
    font-size: 15px;
    padding: 24px 46px 24px 26px;
  }
  
  




  .food-item {
    position: relative;
    display: inline-block;
  }
  
  .food-item img {
    width: 300px; /* Adjust the size as needed */
    height: auto;
    transition: filter 0.3s ease;
  }
  
  .food-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    display: none;
  }
  
  .food-item:hover img {
    filter: blur(5px); /* Adjust the blur effect */
  }
  
  .food-item:hover .food-name {
    display: block;
  }
  .news-title:hover{
    text-decoration: underline;
}

.MAINNEWSBOX{
    height: auto;
    width: 100%;
    /* border: 2px solid black; */
    /* background-color: #b8d6e8; */
    
}

#main-content{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;  
    /* background-color: #E67E22; */
    /* align-items: start; */
}


.main-box-news{
    width: 90%; /* Set the width of the container */
    /* border: 2px solid rgb(245, 2, 2); */
    margin: 0 auto;
}
.card{
    border: 2px solid black;
    box-shadow: 0 0 15px black;
    width: 300px;
    min-height: 300px;
    overflow: hidden;
    background-color: white;
}
.card:hover{
    box-shadow: 0 0 40px white;
    cursor: pointer;
}
.header img{
    width: 100%; 
    height: auto;
}
.card-content{
    padding: 12px;
}
.news-srcdt{
    margin-block: 12px;
    /* width: 200px; */
    border-bottom: 2px solid transparent;
    animation-name: underline1;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
}
#news-content{
    font-size: 0.9rem;
    /* color: blue; */
    
}



#info-box {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
  }
  
  .card {
    width: 200px;
    height: 150px;
    background-color: lightblue;
    margin: 10px;
    float: left;
  }
  .card {
  overflow: visible;
  width: 300px;
  height: 400px;
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.front, .back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card:hover .content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.front {
  transform: rotateY(180deg);
  color: white;
}

.front .front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.circle {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #ffbb66;
  position: relative;
  filter: blur(15px);
  animation: floating 2600ms infinite linear;
}

#bottom {
  background-color: #ff8866;
  left: 50px;
  top: 0px;
  width: 150px;
  height: 150px;
  animation-delay: -800ms;
}

#right {
  background-color: #ff2233;
  left: 160px;
  top: -80px;
  width: 30px;
  height: 30px;
  animation-delay: -1800ms;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}






